{{!< default}}

<div class="uk-container">
    {{#tag}}

    {{#if feature_image}}
    <div class="uk-text-center">
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
            <img class="uk-border-rounded uk-width-expand@s" srcset="{{img_url feature_image size="s"}} 300w,
                                                        {{img_url feature_image size="m"}} 600w,
                                                        {{img_url feature_image size="l"}} 1000w,
                                                        {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 800px) 400px,
                                                        (max-width: 1170px) 700px,
                                                        1400px" src="{{img_url feature_image size="xl"}}"
                alt="{{title}}" />
            {{#if description}}
            <div class="uk-transition-slide-bottom uk-position-bottom uk-overlay uk-overlay-default">
                <p class="uk-h4 uk-margin-remove" style="text-shadow:1px 1px 2px #666666;">
                    {{description}}
                </p>
            </div>{{/if}}
            <div class="uk-position-center">
                <div class="uk-transition-slide-top-small">
                    <h2 class="uk-margin-remove" style="color:white;text-shadow:2px 2px 4px #000000;">{{name}}</h2>
                </div>
            </div>
        </div>
    </div>
    <h1 class="uk-text-center hue-rotate uk-hidden@s uk-margin-remove" style="color:blue;text-shadow:2px 2px 4px #666666;">
        {{name}}
    </h1>
    {{else}}
    <h1 class="uk-text-center hue-rotate" style="color:blue;text-shadow:2px 2px 4px #666666;">
        {{name}}
    </h1>
    {{/if}}
    <h2 class="uk-text-center" style="margin-top:20px;margin-bottom:5px">
        {{plural ../pagination.total empty='No blog' singular='% blog' plural='% blogs'}} in total
    </h2>
    {{/tag}}
    <hr class="uk-divider-icon uk-margin-remove">

    {{#foreach posts}}
    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
    {{> "post-card"}}
    {{/foreach}}
    {{pagination}}
</div>
